## Build
bin/
obj/
artifacts/
packages/
**/x64/
**/Debug/
**/Release/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.ipch
.vs/

## NuGet / .NET
*.nupkg
project.lock.json
[Dd]ebugPublic/
[Rr]eleasePublic/

## OS / IDE
Thumbs.db
Desktop.ini
.DS_Store
*.swp

## Local extracts / temp
_wdk_extract/
docs/ref-*

## Logs
*.log
*.tlog
*.obj
*.pdb
*.ilk
*.exp
*.lib
!src/**/*.lib
